*{
    margin: 0px;
    padding: 0px;
}

header{
  background-color:rgb(255, 255, 255);
}

article{
  background-color:#f1f1f1;
}

#menu{
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#000;
    font-size: 20px;
}


ul, ol {
    list-style:none;
}

.m > li {
    float:left;
}

li[id="icono"]{
    background-color:rgb(0, 0, 0);
    text-decoration:none;
    padding:10.5px 57px;
    display:block;
}

.m li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:12px 58px;
    display:block;
}     

.m li a:hover,.m li:hover {
    background-color:#434343;
}



img[id="1"]{
    margin-left: 36px;
    height: 69px;
    width: 179px;
   }

img[id="2"]{
    height: 80px;
    width: 85px;
}
img[id="i"]{
  height: 80px;
  width: 85px;
  margin-left: 235px;
 }

img[id="c"]{
    height: 80px;
    width: 85px;
    margin-left: 10px;
   }
   
img[id="3"]{
    height: 21px;
    width: 21px;
   }

.tab, .tab p, .tab a, address {
    margin: auto;
    color:#fff;
    background-color:#000;
}


p[id="ir"],p>a{
    color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    text-align:center;
    
}

.tab p{
  margin-left: 55px;
  margin-right: 55px;
}

.tab p[id="copy"]{
  text-align: center;
}





.c li a {
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:12px 50px;
    display:block;
} 






.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(255, 255, 255);
}

.flex-container > div {
  background-color: #bebebe;
  width: 200px;
  margin: 60px;
  text-align:center;
  line-height: 20px;
  font-size: 30px;
}

.flex-container a{
  text-decoration:none;
  color:rgb(70, 69, 77);
  font-family:Georgia, 'Times New Roman', Times, serif;
 
}
 
h6{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#000;
}





.container{
  background-color: rgb(0, 0, 0);
  width: 1203px;
  height: 244px;
}


ul.slider{
  position: relative;
  width: 800px;
  height: 244px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:rgb(3, 3, 3);
}

ul.slider li img{
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; 
}

ul.slider li:target {
    opacity: 1;
}

.menu{
  text-align: center;
  margin: -42px;
  position:relative;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 8px;
  height: 8px;
  font-size: 18px;
  border-radius: 100%;
}





.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
  margin-left: 150px; 
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0;
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}


.flexsearch {
  padding: 1 25px 0 200px; 
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; 
  border-style: solid;
	border-width: 3px;
  margin-top: 10px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: -1px; 
  margin-right: 5px; 
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

