*{
    margin: 0px;
    padding: 0px;
}

#menu{
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.m > li {
    float:left;
}

li[id="icono"]{
    background-color:rgb(0, 0, 0);
    text-decoration:none;
    padding:12px 46px;
    display:block;

}

img[id="1"]{
    height: 69px;
    width: 179px;
   }

img[id="2"]{
    
   }
   
img[id="3"]{
    height: 18px;
    width: 18px;
   }

.m li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:12px 73px;
    display:block;
}     



.tab {
    margin: auto;
    color:#fff;
    background-color:#000;
}










           
.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}
                    
.nav li ul li ul {
    right:-140px;
    top:0px;
}