*{
    margin: 0px;
    padding: 0px;
}

header{
  background-color:rgb(255, 255, 255);
}

article{
  background-color:#f1f1f1;
}

.article h1{
    margin-left: 75px;
    font-size: 45px;
}
article. p{
    margin-right: 25px;

}


#menu{
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#000;
    font-size: 20px;
}


ul, ol {
    list-style:none;
}

.m > li {
    float:left;
}

li[id="icono"]{
    background-color:rgb(0, 0, 0);
    text-decoration:none;
    padding:10.5px 57px;
    display:block;
}

.m li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:12px 58px;
    display:block;
}     

.m li a:hover,.m li:hover {
    background-color:#434343;
}


img[id="1"]{
    margin-left: 36px;
    height: 69px;
    width: 179px;
   }

img[id="2"]{
    height: 80px;
    width: 85px;
   }
   
img[id="3"]{
    height: 21px;
    width: 21px;
   }
   img[id="i"]{
    height: 80px;
    width: 85px;
    margin-left: 235px;
   }
  
  img[id="c"]{
      height: 80px;
      width: 85px;
      margin-left: 10px;
     }
     
     


p[id="ir"],p>a{
    color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    text-align:center;
    
}
.tabla, .tabla p, .tabla a, address {
    margin: auto;
    color:#fff;
    background-color:#000;
}

.t{

    color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
}



.c li a {
    background-color:rgb(243, 243, 243);
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:12px 55px;
    display:block;
} 






.flex-container {
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: #ffffff;
  width: 0x;
  margin: 0px;
  text-align:left;
  line-height: 100px;
  font-size: 50px;
}



img[id="4"]{
    height: 200px;
    width: 150px;
   }

img[id="5"]{
    height: 435px;
    width: 335px;
   }

.boton {
    background-color: transparent;
    color: #08c;
    border: 2px solid #08c;
    border-radius: 7px;
    padding:10.5px 57px;
    text-decoration: none;
}

.boton:hover {
    background-color: #08c;
    color: white;
}




.tab input.tabs{
    position: absolute;
    left: -9999px;
    top: 0px;
}

.tab{
    width: 650px;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 45px auto;
}

.tab li{
    float: left;
    width: auto;
}

.tab label{
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px;
    color: #08c;
    font-size: 20px;
    background:rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 3px;
    transition: all 0.2s ease-in-out;
}

.tab label:hover{
    background:rgba(137, 217, 248, 0.5);
    top: 0;
}




.tabs:checked + label{
    background: #08c;
    color: #fff;
    top: 0;
}

.tabs:checked ~ .tab-content{
    display: block;
}

.tab-content{
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: none;
    left: 0;
    line-height: 140%;
    font-size: 20px;
    padding: 15px;
    padding-top: 10px;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 2;
    animation-duration: 0.5s;
    text-align: justify;
}





.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
  margin-left: 150px; 
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0;
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}


.flexsearch {
  padding: 1 25px 0 200px; 
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; 
  border-style: solid;
	border-width: 3px;
  margin-top: 10px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: -1px; 
  margin-right: 5px; 
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}



